---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Surprise.">
  <div class="text-center">
    <headline> Code. Run. Learn. Repeat.</headline>
  </div>

  <div class="text-center">
    <headline>Wisdom. Courage. Temperance.</headline>
  </div>

  <h3 class="text-center">
    It is not what happens to you, but how you react to it that matters.
  </h3>
</Layout>
