---

---

<!-- Tilde-inspired SVG Transition -->
<div class="flex justify-center">
  <svg
    class="w-40 h-10"
    viewBox="0 0 200 100"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0 50 C 50 0, 150 100, 200 50"
      stroke="#4B5563"
      stroke-width="9"
      stroke-linecap="round"
      fill="transparent"></path>
  </svg>
</div>
